version: 2

updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 5 8-14 * 0" # Second Sunday of each month at 05:00 UTC

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 5 8-14 * 0" # Second Sunday of each month at 05:00 UTC
