name: CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  packages: read

# In the event that there is a new push to the ref, cancel any running jobs because there are now obsolete, and wasting
# resources.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878

      - name: Build
        run: make build

      - name: Build JS
        run: make build-js

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6

      - uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878

      - name: Check formatting and clippy
        run: make lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878

      - name: Run unit tests
        run: make test
